.uberTest_overview{
	margin: 20px 3px;
	padding: 20px;
	border: 1px solid #000;
}

.uberTest_media{
	float: left;
	width: 20%;
	height: 100%;
}

.uberTest_rightWrapper{
	float: left;
	width: 80%;
}

.uberTest_name{
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
}

.uberTest_shortDescription{
	padding: 2px 10px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.uberTest_metadata{
	float: left;
	width: 70%;
	padding: 2px 10px;
}

.uberTest_startBt{
	float: right;
	width: 20%;
	padding: 2px;
}